.container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:#F5F5F5;

}
.banner{
	position: absolute;
	top: 40px;
	left: 10%;
	background: #68AFF4;
	width: 80%;
	height: 150px;
	border: 2px 2px;
	box-shadow:0px 10px 10px #000000;

}
.containerImage{
	position: absolute;
	top: 80px;
	left: 12%;
	width: 150px;
	height: 150px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	}
.imagen{
	width: 100%;
	height: 100%;

	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;

}

.title-banner{
	position: absolute;
	top: 20%;
	left: 300px;
	font-size: 40px;
	font-family: 'Bellota', cursive;
}
.subtitle-banner{
	position: absolute;
	top: 60%;
	left: 300px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;

}

.footer{
	position: absolute;
	bottom: 1%;
	left: 10%;
	width: 80%;
	height: 60px;
	background: #9E9E9E;

}

.text-footer{
	position: absolute;
	top: 20%;
	left: 2%;
	color: black;
	font-family: 'Poppins', sans-serif;

}

.buttons{
	position: absolute;
	top: 240px;
	left: 10%;
	width: 80%;
	height:250px;
}
.button{
	width: 10%;
	height: 50px;
	background-color: #858585;
	color: white;
	border: outset 4px;
}
.button:hover{
	background-color:#EBF4F7;
	color:#8A1901;
	border-color: #FFDCD4;

}
#contain1{
	position: absolute;
	top: -13px;
	left: 200px;
	width: 800px;
	height: 300px;
	background-color:#E8E8E8;
	color: black;
	border:inset 2px;
	box-shadow: 0px 0px 5px gray;
}
#contain2{
	position: absolute;
	top: -70px;
	left: 200px;
	width: 800px;
	height: 300px;
	display: none;
	color: black;
	background-color:#E8E8E8;
	border:inset 2px;
	box-shadow: 0px 0px 5px gray;
}
#contain3{
	position: absolute;
	top: -130px;
	left: 200px;
	width: 800px;
	height: 300px;
	display: none;
	color: black;
	background-color:#E8E8E8;
	border:inset 2px;
	box-shadow: 0px 0px 5px gray;
}
#contain4{
	position: absolute;
	top: -190px;
	left: 200px;
	width: 800px;
	height: 300px;
	color: black;
	display: none;
	background-color:#E8E8E8;
	border:inset 2px;
	box-shadow: 0px 0px 5px gray;
}
.b1:focus #contain1{
	display: block;

}
.b2:focus #contain2{
	display: block;

}
.b3:focus #contain3{
	display: block;

}
.b4:focus #contain4{
	display: block;

}
.b1{
	position: absolute;
	top: 2px;
	left: 30px;
}
.b2{
	position: absolute;
	top: 60px;
	left: 30px;
}

.b3{
	position: absolute;
	top: 120px;
	left: 30px;
}

.b4{
	position: absolute;
	top: 180px;
	left: 30px;
}
.datos-personales{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 50%;
	text-align: left;
}
.datos-contacto{

	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	text-align: left;
}

.perfil{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90%;
	height: 50%;

}
.list{
	text-align: left;
}
.exp{
	position:relative;
	top: -72px;
}